<h1>Tasks</h1>
<%= link_to 'new', new_task_path %>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag '', '' %>
      <%= task.title %>
      <%= link_to '[edit]', edit_task_path(task)  %>
    </li>
  <% end %>
</ul>